@font-face {
    font-family: "DIN Pro";
    src: url("/fonts/DINPro-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "HAL Four Grotesk";
    src: url("/fonts/HALFourGrotesk-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HAL Four Grotesk";
    src: url("/fonts/HALFourGrotesk-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}